<!DOCTYPE html>

<html>

<head>
    <title>About page</title>
    <link rel="icon" href= "/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap" rel="stylesheet"> 

</head>
    
<body>
    <div class="main-content">
    {{>header}}
    <div class="about">
Weather Lens (Weather Report application) is a web based application through which you will able to get all the reports related to weather forecasting of any locations. Its has geographical locator which will be receive location by Map Box API and able to present its weather details such as Temperature, Wind speed, Humidity etc			
It’s users can get weather reports by getting information from WeatherStack API. It is user’s friendly tools and so simple to use, that even a child can handle it and get information on particular geographical area.

    </div>
    </div>
    {{>footer}}
    
</body>


</html>